*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainDiv{
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
}

form{
    width: 80%;
}

form>h1{
    text-align: center;
    padding: 1.8rem .8rem;
}

#colSepDiv>div:first-child{
    display: grid;
    grid-template-columns: 50% 50%;
}

#colSepDiv>div:first-child>div{
    place-items: center;
}


#colSepDiv>div>div>div{
    display: grid;
    margin: 2rem;
    font-size: 1rem;
}

label{
    margin-bottom: .3rem;
}

input,select{
    width: 100%;
    height: 1.6rem;
    outline: none;
    border-radius: 5px;
    border: none;
}

textarea{
    width: 100%;
    height: 4rem;
    outline: none;
    resize: none;
}

input,select,option{
    color: #000;
    padding: .3rem .5rem;
}

#cnField,.addCNDiv{
    display: grid;
    place-items: center;
}

.addCNDiv{
    position: relative;
    overflow: hidden;
}

#btnDiv{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDiv>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDiv>div>button{
    font-size: 1rem;
    color: rgb(226, 226, 226);
    letter-spacing: 0.2em;
    padding: 1em 1.5em;
    background-color: transparent;
    border: 1px solid rgb(226, 226, 226);
}


#genResultDiv{
    border: 2px solid white ;
    position: fixed;
    height: 60vh;
    width: 45vh;
    top: 40%;
    right: 5%;
    transform: translate(-50%,-50%);
    background-color: rgb(37, 37, 37);
    display: none;
}

.grd{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.grd>div:nth-child(1){
    flex: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grd>div:nth-child(2){
    flex: 65%;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.grd>div:nth-child(2)>textarea{
    width: 95%;
    height: 100%;
    resize: none;
    border: none;
    padding: 0;
}

.grd>div:nth-child(3){
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grd>div:nth-child(3)>button{
    font-size: .7rem;
    color: rgb(226, 226, 226);
    letter-spacing: 0.1em;
    padding: .5em 1em;
    background-color: transparent;
    border: 1px solid rgb(226, 226, 226);
    margin: 0 .4em;
}

