*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 0.6em;
    font-family: "Comfortaa", sans-serif;
}

#bodyDiv{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#flowDiv{
    flex: 50;
    display: flex;
}

#genDiv{
    flex: 50%;
    overflow-x: hidden;
    min-width:50vw;
}

.flowslides{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    height: 80%;
}

.pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 15%;
}

.subhead{
    flex: 15%;
}

.flowBody{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 95%;
}

.subhead,.flowBody{
    padding-left: 1.5rem;
    font-size: 1.1rem;
}

.subhead{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1.1rem;
    flex-direction: column;
}

.nxtBtn,.btnOp{
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nxtBtn>div,.btnOp>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
}

.btnOp>div{
    width: 7em;
}

.nxtBtn>div>button,.btnOp>div>button{
    width: 9.2em;
    height: 3em;
    letter-spacing: .1em;
    font-size: .9rem;
    border-radius: .4em;
    border: none;
    background-color: red;
    color: white;
}

.btnOp>div>button{
    width: 7.5em;
    font-size: .8rem;
}

.flowslides{
    display: none;
}



/* ========================== */
/* RESPONSIVE BREAKPOINTS */
/* ========================== */

/* Medium screens */
@media (max-width: 1100px){
    #flowDiv{
        max-width: 55%;
    }

    #genDiv{
        max-width: 45%;
    }
}

/* Smaller screens */
@media (max-width: 900px){
    #flowDiv{
        max-width: 50%;
        min-width: 250px;
    }

    #colSepDiv{
        grid-template-columns: 100%;
    }

    #genDiv{
        max-width: 50%;
        min-width: 250px;
    }

    .pageHeader{
        font-size: 1.5rem;
    }

    .subhead,
    .flowBody{
        font-size: 1rem;
    }

    .nxtBtn button,
    .btnOp button{
        min-width: 100px;
        font-size: 0.9rem;
        padding: .5rem 1rem;
    }
}

/* Extra small screens - prevent collapsing too much */
@media (max-width: 700px){
    #bodyDiv{
        gap: 0.5rem;
    }

    #flowDiv,
    #genDiv{
        min-width: 200px;
    }
}